extends layout

include mixins/_addStock
include mixins/_removeStock

block scriptsHead
    script(src="https://code.highcharts.com/stock/highstock.js")
    script(src="https://code.highcharts.com/stock/modules/exporting.js")

block content
    .container.flex-center-column
        #stockChart(style="width: 1080px; height: 720px;")
        +addStock()
        +removeStock()

block scriptsBody
    script(src="/dist/App.bundle.js")