mixin removeStock()
    form(action="" method="POST").removeStockForm
        label(for="stockNameRemove") Name of the stock you would like to remove
        input(type="text" name="stockNameRemove" id="stockNameRemove")
        input(type="submit" value="Submit")